{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}
    <div class="row">
        <div  class="col-md-4">
            <div class="card card-header">
                <h3 class="">请登录</h3>
            </div>
            <div class="card-block">
                <form action="" method="post" class="form-vertical">
                    {% csrf_token %}
                    {{ form|as_bootstrap }}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">登陆</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-danger" href="{% url "user_create_view" %}">注册</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
